body {
    background-color: rgb(103, 45, 45);
    color: bisque;
    padding: 25px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    border-image-width: 60%;
}
.leseblog {
    font-family: fantasy;
    font-size: 100px;
    font-style: italic;
    text-align: center;
}
.text {
    color: bisque; 
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.bild1 {
    border-radius: 25%;
    padding: 5px;
    width: 300px;  
}
.bild2 {
  border-radius: 25%;
  padding: 5px;
  width: 500px;  
}
table { 
    border-collapse: collapse; 
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #48060a;
    font-weight: bold;
}
text-replace:hover {
    background-color: bisque;
}
 a {
    color:bisque ;
 }
a:hover{
    color: rgb(243, 129, 129); 
}
.werbung {
    color: beige;
    font-size: medium;
}
.buchhandlung {
    color: beige;
    font-size: larger;
}
.waslesen  {
    text-decoration: underline;
    text-decoration-color: bisque;
    text-decoration-thickness: 2px;
}
.ueberblick {
    text-decoration: underline;
    text-decoration-color: bisque;
    text-decoration-thickness: 2px;  
}
